numpy==1.18.5
scipy==1.4.1
pytest==5.4.3
pytest-cov==2.9.0
pylint==2.5.2
manubot==0.4.0
pandoc-fignos
pandoc-eqnos
pandoc-tablenos
matplotlib==3.2.1
seaborn==0.10.1
svgutils==0.3.1
git+git://github.com/aarmey/tensorly.git@IsabellLehmann-patch-1
scikit-learn==0.23.1
