numpy==1.19.1
scipy==1.5.2
pytest==6.0.1
pytest-cov==2.10.1
pylint==2.6.0
manubot==0.4.1
pandoc-fignos==2.3.1
pandoc-eqnos==2.3.0
pandoc-tablenos==2.2.2
matplotlib==3.3.0
seaborn==0.10.1
svgutils==0.3.1
git+git://github.com/tensorly/tensorly.git@master
scikit-learn==0.23.2
